.banner-sec{
    background-image:url(https://static.pexels.com/photos/33972/pexels-photo.jpg); opacity: 0.2;
    background-size:cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding:0
}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left;}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

